@use "../../../variables";

.blogspage {
  .blogspage__title {
    margin-block: 20px;
    font-size: 40px;
  }
  .blogspage__intro {
    margin-bottom: 20px;
  }
}

@media (max-width: 430px) {
  .blogspage {
    .blogspage__title {
      font-size: variables.$mobile-title-font-size;
    }
    .blogspage__intro {
      font-size: variables.$mobile-subtitle-font-size;
    }
  }
}
