@use "../../../../variables";

.read__more {
  margin-block: 20px;
  padding-top: 10px;
  border: 1px solid rgba(179, 179, 179, 0.6);
  border-radius: 10px;
  h2 {
    margin-bottom: 10px;
    margin-left: 20px;
  }
  &-blocks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .read__more-block {
      text-decoration: none;
      color: variables.$text-color;
      padding: 5px;
      padding-left: 20px;
      transition: all 0.3s ease;
      &-title {
      }
      &-date {
      }
      &:hover {
        transition: all 0.3s ease;
        cursor: pointer;
        box-shadow:
          1px 1px 10px rgb(179, 179, 179),
          -1px 1px 10px rgb(179, 179, 179);
        .read__more-block-title {
          color: variables.$primary-color;
        }
      }
    }
    :last-child {
      &:hover {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}
