.home__arts-eventlist {
  width: 30%;
  margin-top: 50px;
  height: 100%;
  padding: 20px 10px;
  color: black;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 10px;
  h2 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .home__arts-eventlist-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    .see_all {
      text-decoration: none;
      color: black;
      padding: 5px 10px;
      border-radius: 10px;
      transition: 0.3s ease all;

      &:hover {
        transition: 0.3s ease all;

        background: red;
        color: white;
      }
    }
  }
  .home__arts-eventlist-item {
    padding: 10px;
    text-decoration: none;
    color: white;
    transition: 0.3s ease all;
    border: 1px solid transparent;

    &:hover {
      cursor: pointer;
      box-shadow:
        1px 1px 10px rgba(0, 0, 0, 0.2),
        -1px -1px 10px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      .item__intro {
        .img-wrapper {
          width: 60%;
        }
      }
      .item__about {
        width: 40%;
        max-height: 200px;
        opacity: 1;
      }
    }
    .item__intro {
      display: flex;
      gap: 10px;
      height: 150px;
      .img-wrapper {
        flex: 1;
        transition: width 0.3s ease;
        img {
          width: 100%;
          height: 150px;
          object-fit: cover;
        }
      }
    }
    .item__about {
      width: 0;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition:
        max-height 0.3s ease,
        opacity 0.3s ease,
        width 0.3s ease;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 10px;
      .amount,
      .price,
      .item__about-date {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 30%;
        gap: 10px;
        align-items: center;
        border-radius: 10px;
        svg {
          flex-shrink: 0;
          width: 30px;
          height: 30px;
          fill: black;
        }
        p {
          font-size: 14px;
        }
      }
      .item__about-date {
        .item__about-date-time {
          display: flex;
          flex-wrap: wrap;
          gap: 2px;
          p {
            font-size: 14px;
          }
        }
      }
      p {
        color: black;
      }
    }
    .home__arts-eventlist-content {
      margin-top: 10px;
      h3 {
        font-size: 24px;
        color: black;
      }
      p {
        margin-top: 10px;
        color: black;
      }
    }
  }
}
