.articles {
  width: 60%;
  margin-block: 50px;
  height: 100%;
  .articles__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .articles__header-title {
      font-size: 40px;
    }
  }
}

.view_all {
  color: rgb(0, 60, 255);
  font-size: 18px;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
