.latest {
  margin-block: 50px;
  .latest__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    h2 {
      font-size: 40px;
    }
  }
}

.view_all {
  color: red;
  font-size: 18px;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
