@use "../../variables";

.authors__header {
  display: flex;
  gap: 20px;
  align-items: center;
  text-decoration: none;
  margin-bottom: 20px;
  .profile {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-left: 20px;
    object-fit: cover;
  }
  .authors__author {
    .author {
      font-size: 24px;
    }
    .spec {
      font-size: 18px;
    }
  }
}

@media (max-width: 430px) {
  .blogscontent__header {
    .profile {
      width: 50px;
      height: 50px;
      margin-left: 10px;
    }
    .blogscontent__author {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .author {
        font-size: variables.$mobile-text-font-size;
      }
      .spec {
        font-size: variables.$mobile-text-font-size - 2px;
      }
    }
  }
}
