.authors__header {
  display: flex;
  gap: 20px;
  align-items: center;
  text-decoration: none;
  margin-bottom: 20px;
  .profile {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-left: 20px;
    object-fit: cover;
  }
  .authors__author {
    .author {
      font-size: 24px;
    }
    .spec {
      font-size: 18px;
    }
  }
}
