.nav {
  display: block;
  .nav__header {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    span {
      font-weight: bold;
      &:hover {
        cursor: pointer;
      }
    }
    .nav__list {
      display: flex;
      gap: 30px;
      .nav__item {
        list-style: none;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
