@use "../variables";

@mixin rich-text-styles {
  p {
    font-size: 20px;
    text-indent: 30px;
  }
  blockquote {
    margin-block: 20px;
    background: variables.$hover-color;
    padding: 30px;
    padding-left: 50px;
    width: 60%;
    position: relative;
    margin-left: 70px;
    font-size: 20px;
    text-indent: 20px;
    line-height: 130%;
    &::before {
      content: "\201C";
      position: absolute;
      left: 10px;
      top: 10px;
      font-size: 70px;
      line-height: 1;
      color: variables.$primary-color;
      font-family: Georgia, serif;
    }
  }
  img {
    margin-block: 20px;
    margin-inline: auto;
    width: 80%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
  ul {
    padding-left: 0;
    margin-block: 20px;
    li {
      position: relative;
      padding-left: 30px;
      list-style: none;
      font-size: 20px;
      line-height: 1.5;
      &::before {
        content: "";
        position: absolute;
        left: 8px;
        top: 0.75em;
        transform: translateY(-50%);
        width: 8px;
        height: 8px;
        background: variables.$hover-color;
      }
    }
  }
  ol {
    list-style: none;
    counter-reset: my-counter;
    padding-left: 30px;
    li {
      counter-increment: my-counter;
      position: relative;
      padding-left: 40px;
      line-height: 140%;
      &::before {
        content: counter(my-counter);
        position: absolute;
        left: 0;
        top: 5%;
        width: 25px;
        height: 25px;
        background: variables.$hover-color;
        color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
  ul,
  ol {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-left: 40px;
    width: fit-content;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background: variables.$hover-color;
      margin-top: 5px;
    }
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 19px;
  }
  h5 {
    font-size: 17px;
  }
  h6 {
    font-size: 16px;
  }
  @media (max-width: 430px) {
    p {
      font-size: variables.$mobile-text-font-size;
      text-indent: 10px;
    }
    blockquote {
      margin-block: 10px;
      padding: 20px 15px 15px 15px;
      width: 100%;
      margin-left: 0px;
      font-size: variables.$mobile-text-font-size;
      text-indent: 0px;
      line-height: 140%;
      &::before {
        position: static;
        display: block;
        left: unset;
        top: unset;
        font-size: 40px;
        line-height: 0.5;
        margin-bottom: 5px;
      }
    }
    img {
      margin-block: 20px;
      width: 100%;
    }
    ul {
      padding-left: 0;
      li {
        position: relative;
        padding-left: 20px;
        list-style: none;
        font-size: variables.$mobile-text-font-size;
        &::before {
          content: "";
          position: absolute;
          left: 0px;
          top: 0.6em;
          transform: translateY(-50%);
          width: 6px;
          height: 6px;
          background: variables.$hover-color;
        }
      }
    }
    ol {
      padding-left: 0px;
      li {
        padding-left: 30px;
        line-height: 120%;
        font-size: variables.$mobile-text-font-size;
        &::before {
          width: 20px;
          height: 20px;
          font-size: 10px;
        }
      }
    }
    ul,
    ol {
      font-size: variables.$mobile-text-font-size + 2px;
      gap: 10px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-left: 10px;
      width: fit-content;
    }
    h1 {
      font-size: variables.$mobile-title-font-size;
    }
    h2 {
      font-size: variables.$mobile-title-font-size - 2px;
    }
    h3 {
      font-size: variables.$mobile-title-font-size - 4px;
    }
    h4 {
      font-size: variables.$mobile-title-font-size - 6px;
    }
    h5 {
      font-size: variables.$mobile-title-font-size - 8px;
    }
    h6 {
      font-size: variables.$mobile-title-font-size - 10px;
    }
  }
}
