@use "../../../variables";

.eventspage {
  .eventspage__title {
    margin-block: 20px;
    font-size: 40px;
  }
  .eventspage__intro {
    margin-bottom: 20px;
  }
}

@media (max-width: 430px) {
  .eventspage {
    .eventspage__title {
      font-size: variables.$mobile-title-font-size;
    }
    .eventspage__intro {
      font-size: variables.$mobile-subtitle-font-size;
    }
  }
}
