@use "../../../../variables";

.blogscontent__layout {
  display: flex;
  margin-top: 40px;
  gap: 10px;
  margin-inline: 200px;
  .blogscontent {
    width: 70%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 20px;
    .back {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: black;
      font-size: 18px;
      margin-block: 20px;
      transition: all 0.3s ease;
      gap: 10px;
      width: fit-content;
      padding: 10px;
      border-radius: 10px;
      svg {
        transition: all 0.3s ease;
      }
      &:hover {
        background: variables.$primary-color;
        color: white;
        svg {
          fill: white;
          transition: all 0.3s ease;
        }
      }
    }
    .blogscontent__header {
      display: flex;
      gap: 20px;
      align-items: center;
      .profile {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-left: 20px;
        object-fit: cover;
      }
      .blogscontent__author {
        .author {
          font-size: 24px;
        }
        .spec {
          font-size: 18px;
        }
      }
    }
    .blogscontent__header-date {
      margin-top: 20px;
      p {
        font-size: 16px;
        opacity: 0.8;
      }
    }
    .cat {
      margin-top: 20px;
      margin-left: 20px;
    }
    .blogscontent__title {
      width: 90%;
      text-indent: 15px;
      font-size: 40px;
    }
    .blogscontent__img {
      width: 80%;
      margin-inline: auto;
      display: block;
      margin-block: 20px;
      border-radius: 10px;
    }
    .blogscontent__main {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      p {
        font-size: 20px;
        text-indent: 30px;
      }
      blockquote {
        margin-block: 20px;
        background: variables.$hover-color;
        padding: 30px;
        padding-left: 50px;
        width: 60%;
        position: relative;
        margin-left: 70px;
        font-size: 20px;
        text-indent: 20px;
        line-height: 130%;
        &::before {
          content: "\201C";
          position: absolute;
          left: 10px;
          top: 10px;

          font-size: 70px;
          color: variables.$primary-color;
          font-family: Georgia, serif;
        }
      }
      img {
        margin-block: 40px;
        margin-inline: auto;
        width: 80%;
      }
      ul {
        font-weight: bold;
        li {
          text-indent: 30px;
        }
      }
      ol {
        list-style: none;
        counter-reset: my-counter;
        padding-left: 30px;

        li {
          counter-increment: my-counter;
          position: relative;
          padding-left: 40px;
          line-height: 140%;

          &::before {
            content: counter(my-counter);
            position: absolute;
            left: 0;
            width: 25px;
            height: 25px;
            background: variables.$hover-color;
            color: white;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: bold;
          }
        }
      }
      ul,
      ol {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-left: 40px;
        width: fit-content;
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background: variables.$hover-color;
          margin-top: 5px;
        }
      }
      h3 {
        font-size: 30px;
      }
      h4 {
        font-size: 25px;
      }
      h5 {
        font-size: 20px;
      }
      h6 {
        font-size: 15px;
      }
    }
    .blogscontent__footer {
      margin-top: 20px;
      margin-left: 20px;
      display: flex;
      gap: 20px;
      hr {
        border: 1px solid black;
        height: 20px;
      }
    }
  }
  .blogscontent__layout-sidemenu {
    width: 30%;
    position: sticky;
    top: 80px;
    height: fit-content;
    margin-top: 20px;
    max-height: calc(100vh - 80px);
    margin-bottom: 60px;
  }
}
