@use "../../../../variables";

.tags_block {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  .city {
    background: variables.$primary-color;
    width: fit-content;
    padding: 5px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
  }
  .tag {
    background: variables.$primary-color;
    width: fit-content;
    padding: 5px;
    color: white;
    border-radius: 5px;
    font-size: variables.$text-font-size - 2px;
    text-decoration: none;
    transition: all 0.3s ease;
    &::before {
      content: "#";
    }
    &:hover {
      transition: all 0.3s ease;
      transform: scale(1.05);
    }
  }
}

@media (max-width: 430px) {
  .tags_block {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    .tag {
      font-size: variables.$mobile-text-font-size - 2px;
      height: fit-content;
    }
  }
}
