@use "../../../variables";

.newspage {
  .newspage__title {
    margin-top: 20px;
    font-size: 40px;
  }

  hr {
    border: none;
    border-top: 1px solid black;
    opacity: 0.4;
    margin-top: 10px;
  }

  .more_news {
    margin-block: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    hr {
      width: 40%;
      margin: 0;
    }
  }
}

.empty {
  margin-top: 40px;
}

@media (max-width: 430px) {
  .newspage {
    .newspage__title {
      font-size: variables.$mobile-title-font-size;
    }
    .more_news {
      justify-content: space-between;
      margin-inline: 20px;
      hr {
        width: 25%;
      }
      p {
        font-size: variables.$mobile-text-font-size - 2px;
      }
    }
  }
}
