.footer__content {
  display: flex;
  .footer__intro {
    width: 30%;
    button {
      border: none;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    p {
      width: 75%;
    }
  }
  .footer__contacts {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    .footer__contacts-block {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .footer__contacts-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .footer__contacts-item {
          text-decoration: none;
          cursor: pointer;
          color: rgb(58, 58, 58);
        }
      }
    }
  }
}
