.events {
  background: black;
  padding-block: 30px;
  color: white;
  margin-block: 50px;
  .events__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
    .events__header-title {
      font-size: 40px;
    }
    .view_all {
      color: rgb(170, 170, 170);
      font-size: 22px;
    }
  }
}
