.footer {
  margin-bottom: 20px;
  .imprint {
    margin-block: 20px;
  }
  .footer__end {
    margin-top: 20px;
  }
}

@media (max-width: 430px) {
  .footer {
    .imprint {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .footer__end {
      .rights {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        p {
          text-align: center;
          font-size: 16px;
        }
      }
    }
  }
}

@media (min-width: 429px) {
  .footer {
    .footer__end {
      .rights {
        align-items: center;
      }
    }
  }
}
