@use "../../../../variables";

.blogs__block {
  text-decoration: none;
  color: black;
  height: 300px;
  padding: 10px;
  display: flex;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgb(199, 199, 199);
  transition: 0.3s ease all;
  &:hover {
    cursor: pointer;
    transition: 0.3s ease all;
    box-shadow: 0px 6px 10px rgb(179, 179, 179);
    .blogs__block-content {
      .blogs__block-title {
        color: variables.$primary-color;
      }
    }
  }
  .profile {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 20px;
    object-fit: cover;
  }
  .blogs__block-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .blogs__block-header {
      height: 20%;
      flex-direction: column;
      display: flex;
      gap: 5px;
      align-items: baseline;
      .author {
        font-size: 20px;
      }
      .spec {
        font-size: 14px;
      }
    }
    .blogs__block-info {
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      .blogs__block-title {
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .blogs__block-text {
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }
  }
}

@media (max-width: 430px) {
  .blogs__block {
    height: 250px;
    .blogs__block-content {
      .blogs__block-header {
        .author {
          font-size: variables.$mobile-text-font-size;
        }
        .spec {
          font-size: variables.$mobile-text-font-size - 2px;
        }
      }
      .blogs__block-info {
        .blogs__block-title {
          font-size: variables.$mobile-subtitle-font-size;
        }
        .blogs__block-text {
          font-size: variables.$mobile-text-font-size;
        }
        .date {
          font-size: variables.$mobile-text-font-size - 2px;
        }
      }
    }
  }
}
