@use "../../../../../variables";

.qnas__main-item {
  padding: 10px 15px;
  width: 50%;
  height: 100px;
  border: 1px solid transparent;
  border-left: 1px solid black;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
  transition: all 0.3s ease;

  &:hover {
    transition: all 0.3s ease;
    border: 1px solid variables.$primary-color;
    border-radius: 5px;
    transform: scale(1.05);
  }
  .qnas__main-item-title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: left;
  }
}

@media (max-width: 800px) {
  .qnas__main-item {
    width: 100%;
    .qnas__main-item-title {
      font-size: variables.$mobile-subtitle-font-size;
    }
    .qnas__main-item-date {
      font-size: variables.$mobile-text-font-size - 2px;
    }
  }
}
