@use "../../../../variables";

.eventscontent__layout {
  display: flex;
  margin-top: 40px;
  gap: 10px;
  margin-inline: 200px;
  .eventscontent {
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgb(220, 220, 220);
    width: 70%;
    .back {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: black;
      font-size: 18px;
      margin-block: 20px;
      transition: all 0.3s ease;
      gap: 10px;
      width: fit-content;
      padding: 10px;
      border-radius: 10px;
      svg {
        transition: all 0.3s ease;
      }
      &:hover {
        background: variables.$primary-color;
        color: white;
        svg {
          fill: white;
          transition: all 0.3s ease;
        }
      }
    }
    .eventscontent__intro {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      .eventscontent__title {
        font-size: 40px;
      }
      .eventscontent__desc {
        margin-block: 20px;
        font-size: 24px;
      }

      .eventscontent__blocks {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        .eventscontent__block {
          border-radius: 10px;
          padding: 20px;
          width: 90%;
          border: 1px solid rgb(107, 107, 107);
          display: flex;
          align-items: center;
          height: 120px;
          transition: 0.3s ease all;
          &:hover {
            transition: 0.3s ease all;
            border: 1px solid variables.$primary-color;
          }
          .info {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
          }
          .text {
            color: black;
          }
          svg {
            width: 30px;
            height: 30px;
            flex-shrink: 0;
            fill: variables.$primary-color;
            margin-right: 10px;
          }
        }
      }
    }
    .eventscontent__img {
      width: 80%;
      margin-inline: auto;
      display: block;
      margin-block: 20px;
      border-radius: 10px;
    }
    .eventscontent__main {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      p {
        font-size: 20px;
        text-indent: 30px;
      }
      blockquote {
        margin-block: 20px;
        background: variables.$hover-color;
        padding: 30px;
        padding-left: 50px;
        width: 60%;
        position: relative;
        margin-left: 70px;
        font-size: 20px;
        text-indent: 20px;
        line-height: 130%;
        &::before {
          content: "\201C";
          position: absolute;
          left: 0px;
          top: 35px;

          font-size: 70px;
          color: variables.$primary-color;
          font-family: Georgia, serif;
        }
      }
      img {
        margin-block: 40px;
        margin-inline: auto;
        width: 80%;
      }
      ul {
        font-weight: bold;
        li {
          text-indent: 30px;
        }
      }
      ol {
        list-style: none;
        counter-reset: my-counter;
        padding-left: 30px;

        li {
          counter-increment: my-counter;
          position: relative;
          padding-left: 40px;
          line-height: 140%;

          &::before {
            content: counter(my-counter);
            position: absolute;
            left: 0;
            width: 25px;
            height: 25px;
            background: variables.$hover-color;
            color: white;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: bold;
          }
        }
      }
      ul,
      ol {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-left: 40px;
        width: fit-content;
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background: variables.$hover-color;
          margin-top: 5px;
        }
      }
      h3 {
        font-size: 30px;
      }
      h4 {
        font-size: 25px;
      }
      h5 {
        font-size: 20px;
      }
      h6 {
        font-size: 15px;
      }
    }
    .eventscontent__tags {
      margin-top: 10px;
      p {
        background: variables.$primary-color;
        width: fit-content;
        padding: 5px;
        color: white;
        border-radius: 5px;
        &::before {
          content: "#";
        }
      }
    }
  }
  .eventscontent__layout-sidemenu {
    width: 30%;
    position: sticky;
    top: 80px;
    height: fit-content;
    margin-top: 20px;
    max-height: calc(100vh - 80px);
    margin-bottom: 60px;
    padding-bottom: 20px;
  }
}
