.articles__first-block {
  width: 23%;
  border-radius: 10px;
  transition: all 0.2s ease;
  border: 1px solid rgb(201, 201, 201);
  overflow: hidden;

  &:hover {
    transition: all 0.2s ease;
    box-shadow:
      2px 4px 5px rgb(179, 179, 179),
      -2px 4px 5px rgb(179, 179, 179);
    cursor: pointer;
  }

  img {
    width: 100%;
    border-radius: 5px;
    height: 70%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  &:hover img {
    transform: scale(1.05);
  }

  .articles__first-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;

    .articles__first-cat {
      margin-left: 10px;
    }

    .articles__first-title {
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .articles__first-date {
    }
  }
}
