.main {
  background-color: white;
  .wrapper {
    padding-inline: 300px;
    .home__news-block {
      display: flex;
      gap: 10px;
      .home__news-item {
        width: 70%;
        .home__header {
          margin-top: 50px;
          height: 450px;
          display: flex;
          gap: 10px;
        }
      }
    }
    .home__arts-block {
      display: flex;
      gap: 80px;
    }
  }
  .main_divide {
    margin-block: 40px;
  }
}
@media (max-width: 1630px) {
  .main {
    .wrapper {
      padding-inline: 200px;
    }
  }
}

@media (max-width: 1440px) {
  .main {
    .wrapper {
      padding-inline: 150px;
    }
  }
}

.loading {
  margin-top: 30px;
}
