@use "./components/header/Header";
@use "./App";
@use "./components/hero/Hero";
// Ad
@use "./components/ad/Ad";
// News
@use "./components/latestNews/latestNews";
@use "./components/latestNews/LatestNewsBlocks/LatestNewsBlocks";
@use "./components/latestNews/LatestNewsBlocks/LatestNewsBlock/LatestNewsBlock";
// Articles
@use "./components/articles/Articles";
@use "./components/articles/ArticlesBlocks/ArticlesBlocks";
@use "./components/articles/ArticlesBlocks/ArticlesBlock/ArticlesBlock";
@use "./components/articles/ArticlesBlocks/ArticlesBlock/ArticlesFirstBlock/ArticlesFirstBlock";
// Blogs
@use "./components/blogs/Blogs";
@use "./components/blogs/BlogsBlocks/BlogsBlocks";
@use "./components/blogs/BlogsBlocks/BlogsBlock/BlogsBlock";
// Events
@use "./components/events/Events";
@use "./components/events/EventsBlocks/EventsBlocks";
@use "./components/events/EventsBlocks/EventsBlock/EventBlock";
// Email
@use "./components/email/Email";
// Footer
@use "./components/footer/Footer";
@use "./components/footer/FooterContent/FooterContent";
// Trendings
@use "./components/trendings/Trendings";
// Pages
// News
@use "./components/pages/news/NewsPage";
@use "./components/pages/news/NewsPageBlocks/NewsPageBlocks";
@use "./components/pages/news/NewsPageBlocks/NewsPageHero/NewsPageHero";
@use "./components/pages/news/NewsPageBlocks/NewsPageBlock/NewsPageBlock";
@use "./components/pages/news/NewsPageList/NewsPageList";
@use "./components/pages/news/NewsPageList/NewsPageListBlock/NewsPageListBlock";
// Arts
@use "./components/pages/articles/ArtsPage";
@use "./components/pages/articles/ArtsPageBlocks/ArtsPageBlocks";
@use "./components/pages/articles/ArtsPageBlocks/ArtsPageBlock/ArtsPageBlock";
// Blogs
@use "./components/pages/blogs/BlogsPage";
@use "./components/pages/blogs/BlogsPageBlocks/BlogsPageBlocks";
@use "./components/pages/blogs/BlogsPageBlocks/BlogsPageBlock/BlogsPageBlock";
@use "./components/pages/blogs/BlogsPageBlocks/BlogsPageFirstBlock/BlogsPageFirstBlock";
// Events
@use "./components/pages/events/EventsPage";
@use "./components/pages/events/EventsPageBlocks/EventsPageBlocks";
@use "./components/pages/events/EventsPageBlocks/EventsPageBlock/EventsPageBlock";
// Content
// News
@use "./components/pages/contentpages/news/NewsContent";
// Articles
@use "./components/pages/contentpages/articles/ArticlesContent";
// Blogs
@use "./components/pages/contentpages/blogs/BlogsContent";
// Events
@use "./components/pages/contentpages/events/EventsContent";

p,
li {
  color: rgb(58, 58, 58);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Main", sans-serif;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Main";
  src: url("./static/regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Main";
  src: url("./static/medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Main";
  src: url("./static/semibold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Main";
  src: url("./static/bold.woff2") format("woff2");
  font-weight: 700;
}

.arrow {
  width: 12px;
  height: 12px;
  fill: red;
}

.arrow_reverse {
  rotate: 180deg;
  width: 12px;
  height: 12px;
  fill: black;
}
