@use "./components/header/Header";
@use "./App";
// Footer
@use "./components/footer/Footer";
@use "./components/footer/FooterContent/FooterContent";
// FooterLinks
@use "./components/footer-links/FooterLinksStyles";
// Variables
@use "./variables";

p,
li {
  color: variables.$text-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Main", sans-serif;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Syne";
  src: url("./static/syne-extrabold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Main";
  src: url("./static/regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Main";
  src: url("./static/medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Main";
  src: url("./static/semibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Main";
  src: url("./static/bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

.arrow {
  width: 12px;
  height: 12px;
  fill: rgb(0, 60, 255);
}

.arrow_reverse {
  rotate: 180deg;
  width: 12px;
  height: 12px;
  fill: black;
}

.img_source {
  color: variables.$text-color;
  opacity: 0.6;
  margin-top: 0;
}
