.header {
  display: flex;
  justify-content: space-between;
  padding-block: 10px;
  align-items: center;
  box-shadow: 0 1px rgb(179, 179, 179);
  .logo {
    font-weight: bold;
    font-size: 26px;
  }
  .menu {
    .menu__list {
      display: flex;
      gap: 20px;
      list-style: none;
      align-items: center;
      .menu__list-item {
        color: rgb(58, 58, 58);
        font-size: 20px;
        transition: 0.2s ease all;
        &:hover {
          transition: 0.2s ease all;
          cursor: pointer;
          color: black;
        }
      }
    }
  }
  .interaction {
    .interaction__block {
      display: flex;
      gap: 30px;
      .search_icon {
        display: block;
        width: 50px;
        padding: 10px;
        height: 50px;
        margin-block: auto;
        transition: 0.2s ease all;
        border-radius: 5px;
        &:hover {
          transition: 0.2s ease all;
          background: red;
          fill: white;
        }
      }
    }
  }
}

.subscribe {
  border: none;
  background: red;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  padding: 10px 20px;
  transition: 0.2s ease all;
  &:hover {
    transition: 0.2s ease all;
    background: rgb(252, 72, 72);
  }
}
