@use "../../variables";

.email {
  .email__content {
    background: rgb(169, 184, 233);
    padding: 60px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    .email_svg {
      width: 60px;
      height: 60px;
      background: rgb(101, 126, 211);
      fill: variables.$primary-color;
      padding: 10px;
      border-radius: 50%;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 30px;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 20px;
    }
    .email__input-block {
      justify-content: center;
      display: flex;
      width: 100%;
      gap: 20px;
      .email_input {
        padding-inline: 10px;
        font-size: 16px;
        width: 25%;
        border-radius: 0px;
        border: none;
        outline: none;
        background: white;
        border-radius: 10px;
      }
      .subscribe {
        width: object-fit;
      }
    }
  }
}

@media (max-width: 430px) {
  .email {
    .email__content {
      h2 {
        font-size: 18px;
      }
      p {
        font-size: 16px;
      }
      .email__input-block {
        flex-direction: column;
        align-items: center;
        .email_input {
          width: 100%;
          padding-block: 10px;
        }
        .subscribe {
          font-size: 16px;
        }
      }
    }
  }
}
