.articles__blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 600px) {
  .articles__blocks {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}
